* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #1f618d;
    position: relative;
    display: flex;
    box-shadow: 0 10px 30px 2px;
    border-radius: .5vw;
}

.logo {
    background-color: #1f618d;
    width: 5vw;
    height: 3vw;
}

.logoposition {
    text-align: right;
    padding-right: 1vw;
    padding-top: .5vw;
}

.ham {
    background-color: #1f618d;
    width: 3vw;
    height: 3vw;
    border-radius: 5px;
}

.hambutton {
    background-color: #1f618d;
    border: none;
    padding-left: 1vw;
    padding-top: .5vw;
    border-radius: 5vw;
    cursor: pointer;

}

.hambutton :hover {
    background-color: #5c85a0;
}

.navbar > div {
    flex: 1;
}

.navbar > div:nth-of-type(2) {
    flex: 2;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 3vw;
}

.sidebar {
    background-color: #1f618d;
    display: block;
    text-align: center;
    position: absolute;
    box-shadow: 0 10px 30px 2px;
    border-radius: .5vw;
    width: 20vw;
    padding: 20px;
    top: 0;
    left: -40vw;
    transition: .4s;
}

.active {
    left: 0;
}

li {
    list-style: none;
    padding: 2vw;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
}

.imgcanoe {
    max-width: 100%;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.textimg {
    position: absolute;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 200%;
    font-weight: 700;
    top: 20vw;
    left: 25%;
    right: 25%;
}

h1 {
   text-align: center;
   font-weight: 3000;
   font-size: 250%;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    max-width: 90%;
    width: 1000px;
    font-size: 90%;
    padding-bottom: 80px;
}

u {
    color: rgb(6, 215, 10);
}

.space1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.space2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.lifooter {
    background-color: rgb(58, 58, 58);
    display: inline;
    padding: 0;
    font-size: 12px;
}

.afooter {
    margin :10px
}

footer {
    background-color: rgb(58, 58, 58);
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

.homebutton {
    background-color: #e0dddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.homebutton :hover {
    background-color: #5c85a0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.imghomebutton {
    background-color: #e0dddd;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.servicebutton {
    background-color: #e0dddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.servicebutton :hover {
    background-color: #5c85a0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.imgservicesbutton {
    background-color: #e0dddd;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.bookbutton {
    background-color: #e0dddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.bookbutton :hover {
    background-color: #5c85a0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.imgbookbutton {
    background-color: #e0dddd;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.adminbutton {
    background-color: #e0dddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.adminbutton :hover {
    background-color: #5c85a0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.imgadminbutton {
    background-color: #e0dddd;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.contactbutton {
    background-color: #e0dddd;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 40px;
    height: 40px; 
}

.contactbutton :hover {
    background-color: #5c85a0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.imgcontactbutton {
    background-color: #e0dddd;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.sidebar2 {
    background-color: #1f618d;
    display: block;
    text-align: center;
    position: absolute;
    box-shadow: 0 10px 30px 2px;
    border-radius: .5vw;
    width: 10vw;
    padding: 10px;
    top: 0;
    left: -40vw;
    transition: .4s;
}

.closebutton {
    background-color: #f19797;
    cursor: pointer;
    border: none;
    border-radius: 200px;  
    width: 30px;
    height: 30px; 
    margin-left: 23vw;
    box-shadow: 1px 10px 30px 2px;;
}

.closebutton :hover {
    background-color: #f82424;
}

.closebutton2 {
    background-color: #e6e6e6;
    cursor: pointer;
    border: none;
    border-radius: 200px;  
    width: 30px;
    height: 30px; 
    margin-left: 13vw;
    box-shadow: 1px 10px 30px 2px;;
}

.closebutton2 :hover {
    background-color: #f82424;
}

.imgclose {
    background-color: #e6e6e6;
    border-radius: 200px;
    width: 30px;
    height: 30px;
}

@media  (max-width: 800px) {

    .sidebar {
        background-color: #1f618d;
        display: block;
        text-align: center;
        position: absolute;
        box-shadow: 0 10px 30px 2px;
        border-radius: .5vw;
        width: 20vw;
        padding: 20px;
        top: 0;
        left: -600vw;
        transition: .4s;
    }

    .sidebar2 {
        background-color: #1f618d;
        display: block;
        text-align: center;
        position: absolute;
        box-shadow: 0 10px 30px 2px;
        border-radius: .5vw;
        width: 10vw;
        padding: 10px;
        top: 0;
        left: -500px;
        transition: .4s;
    }

    .sidebar2.active {
        left: 0;
    }
}

@media  (min-width: 800px) {
    .title {
        font-size: auto;
    }
}


